ul {
    list-style-type: none;
    padding: 0;
}
.code-block {
    position: relative;
    background-color: #151515;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    line-height: 1.4;
}
code {
    color: #00C200 !important;
}
.copy-button {
    background-color: #131516;
    border-color: #131516;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}

.active-customer {
    background-color: #f8f9fa; /* Set the background color */
    font-weight: bold; /* Set the font weight */
}
