ul {
    list-style-type: none;
    padding: 0;
}
.code-block {
    position: relative;
    background-color: #151515;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    line-height: 1.4;
}
code {
    color: #00C200 !important;
}
.copy-button {
    background-color: #131516;
    border-color: #131516;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}

.active-customer {
    background-color: #f8f9fa; /* Set the background color */
    font-weight: bold; /* Set the font weight */
}

    #hotcontainer {
        height: 600px; /* Your fixed height here */
        overflow: auto;
        position: relative;
        scroll-behavior: smooth;
    }

    /* Style for the floating button */
    .floating-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      #topBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
      }


/* main.css */

.logo-container {
    text-align: center;
    margin-bottom: 20px;
  }

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  body {
    font-family: monospace;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    margin-top: 50px;
}
.logo {
    font-size: 14px;
    line-height: 1.5;
}