
{% load static %}
{% block sidebar %}

<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button">
                            <i class="bx bx-home-circle me-2"></i><span key="t-dashboards">Dashboards</span>
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-dashboard">

                            <a href="{% url 'config' %}" class="dropdown-item" key="t-default">Default</a>
                            <a href="{% url 'config' %}" class="dropdown-item" key="t-saas">Saas</a>
                            <a href="{% url 'config' %}" class="dropdown-item" key="t-crypto">Crypto</a>
                            <a href="{% url 'config' %}" class="dropdown-item" key="t-blog">Blog</a>
                            <a href="{% url 'config' %}" class="dropdown-item" key="t-blog">Jobs</a>
                        </div>
                    </li>


                </ul>
            </div>
        </nav>
    </div>
</div>
{%endblock%}