<!DOCTYPE html>
{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<h1>Alias List</h1>
<div>
<button id="submit-data" class="btn btn-primary">Save Changes</button>
<button onclick="location.href='{% url 'create_aliases' %}'" type="button" class="btn btn-primary">
    Create Alias Commands
</button>
</div>

<div id="container"></div>

<div id="aliasTable"></div>

{% endblock %}
{% block extra_js %}

<script src="{% static 'san_app/js/aliases.js' %}" type="module"></script>

<script>
    var data = {{ aliases|safe }};
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% endblock %}
