<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'san_app/handsontable/handsontable.full.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">Home</a>
                <a class="nav-item nav-link {% if request.resolver_match.url_name == 'config' %}active{% endif %}" href="{% url 'config' %}">Config</a>
                <a class="nav-item nav-link {% if request.resolver_match.url_name == 'fabrics' %}active{% endif %}" href="{% url 'fabrics' %}">Fabrics</a>
                <a class="nav-item nav-link {% if request.resolver_match.url_name == 'aliases' %}active{% endif %}" href="{% url 'aliases' %}">Aliases</a>
                <a class="nav-item nav-link {% if request.resolver_match.url_name == 'zones_groups' %}active{% endif %}" href="{% url 'zone_groups' %}">Zone Groups</a>
            </div>
            <div id="active-customer-placeholder" class="navbar-nav ml-auto">
                {% if active_customer %}
                    <a class="nav-item nav-link active-customer">Active Customer: {{ active_customer.name }}</a>
                {% else %}
                    <a class="nav-item nav-link" href="#">No Active Customer</a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <main>
        <div class="container">
        {% block content %}
        <!-- This space will be filled with page-specific content -->
        {% endblock %}
        </div>
    </main>

    <footer>
        <!-- Site footer goes here -->
    </footer>

    <!-- JavaScript files-->
    {% comment %} This Script will pop up a temporary message (instead of an alert that has to be acknowledged) {% endcomment %}
    <script>
        function tempAlert(msg,duration)
        {
        var el = document.createElement("div");
        el.setAttribute("style","position:absolute;top:15%;right:12%;background-color:white;");
        el.innerHTML = msg;
        setTimeout(function(){
        el.parentNode.removeChild(el);
        },duration)
        document.body.appendChild(el);
        }
    </script>
    <script src="{% static 'san_app/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'san_app/handsontable/handsontable.full.min.js' %}"></script>

    {% block extra_js %}
    <!-- Page specific scripts will be added here -->
    {% endblock %}
</body>
</html>
