<!DOCTYPE html>
{% extends "partials/base.html" %}
{% load static %}
{% block content %}
<button id="submit-fabric-data" class="btn btn-secondary btn-sm">Save Changes</button>
<div id="hotcontainer" onscroll="scrollFunction()">
<div id="fabricTable">

{% endblock %}
{% block extra_js %}
<script src="{% static 'san_app/js/fabrics.js' %}" type="module"></script>

<script>
    var data = {{ fabrics|safe }};
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</div>

{% endblock %}
